@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'VVSU'; /*a name to be used later*/
    src: url(/fonts/vvsu.cdr); /*URL to font*/
}

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
    min-width: 100%;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    width: 100%;
}

.main-content {
    width: 100%;
    height: auto;
}

.typepage {
    width: 100%;
    height: auto;
    padding-top: 50px;
    /*margin-bottom: 30px;*/
    font-size: 15px;
    line-height: 21.12857144px;
}

.container {
    height: auto;
    width: 100%;

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ratings {
    padding: 60px 0;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

.rate-container a {
    color: black;
}

.rate-container a:hover {
    color: #fd9042;
}

.section-description {
    padding-bottom: 10px;
}

.section-description a {
    font-weight: 600;
    font-size: 25px;

    cursor: pointer;
}

.section-description a{
    color: black;
}

.card-container {
    text-align: center;
    width: 400px;
}

.rate-card {
    position: relative;


    border: 2px solid black;
}

.card {
    border: none !important;
    width: 420px;
    height: 380px;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
}

.card.active {
    transition: all ease 0.5s;
}

.card.active:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 60px rgba(146, 183, 255, 0.35);
}

.card h1 {
    font-size: 60px;
    color: rgba(0, 71, 227, 0.9);
}

.card p {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0;
}

.card a {
    font-size: 1.1em;
}

.card path {
    transition: all ease 0.5s;
}

/*.card:hover path{*/
/*    fill: #fd9042;*/
/*}*/

.card-body {
    padding: 3rem 3rem !important;
}

.card-gap {
    gap: 20px;
}

.justify {
    justify-content: space-between;
}

.vvsu {
    font-family: "VVSU";
    font-size: 100px !important;
    font-weight: 800;

    color: #e8e8e8 !important;
    cursor: default;
}