@import "reset.css";
@import "main.css";

@media only screen and (min-width: 1200px){
    .container {
        width: 1170px;
    }

}

@media only screen and (min-width: 992px){
    .container {
        width: 970px;
    }

}


@media only screen and (min-width: 900px){
    .container {
        width: 890px;
    }

}

@media (min-width: 320px){
    .card {
        width: 400px;
        height: 320px;
        margin-bottom: 10px;
    }

    .card h1 {
        font-size: 50px;
    }

    .card svg {
        height: 50px;
        width: 50px;
    }

    .card p {
        font-size: 1em;
    }

    .card-gap {
        gap: 0;
    }

    .justify {
        justify-content: space-between;
    }

}

@media (min-width: 992px) {
    .card {
        width: 300px;
        height: 272px;
    }

    .card h1 {
        font-size: 40px;
    }

    .card svg {
        height: 50px;
        width: 50px;
    }

    .card p {
        font-size: 0.8em;
    }

    .card-gap {
        gap: 20px;
    }

    .justify {
        justify-content: space-between;
    }
}


@media (min-width: 1200px){
    .container {
        width: 1170px;
    }

    .card {
        width: 360px;
        height: 360px;
    }

    .card h1 {
        font-size: 45px;
    }

    .card svg {
        height: 50px;
        width: 50px;
    }

    .card p {
        font-size: 1.1em;
    }

    .justify {
        justify-content: space-between;
    }

}

@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }

    .card {
        width: 420px;
        height: 370px;
    }

    .card h1 {
        font-size: 60px;
    }

    .card svg {
        height: 60px;
        width: 60px;
    }

    .card p {
        font-size: 1.2em;
    }

    .justify {
        justify-content: space-between;
    }

}

